# ==========================================
# 1. 操作系统 & IDE 相关 (忽略本项目下所有层级的缓存)
# ==========================================
**/.DS_Store               # 递归忽略所有目录下的 macOS 属性文件
**/node_modules/           # 忽略根目录的公共依赖
